<div id="summary-header">
  <p>Good <span class="summary-header-timeOfDay"></span>,</p>
  <span class="summary-header-name"></span>
</div>

<div id="summary-main">
  <div class="redirect" id="summary-main-left-container">
    <div id="tasks-urgent">
      <div id="tasks-top-container">
        <img
          id="tasks-top-container-img"
          src="./assets/img/summary-urgent.svg"
          alt="Urgent image"
        />
        <p class="tasks-urgent"></p>
      </div>
      <div id="tasks-description">
        <p>Tasks Urgent</p>
      </div>
    </div>

    <div id="tasks-divider"></div>

    <div id="upcoming-deadline">
      <div id="upcoming-deadline-date">
        <p class="upcoming-deadline-date"></p>
      </div>

      <div id="upcoming-description">
        <p>Upcoming Deadline</p>
      </div>
    </div>
  </div>

  <div class="redirect" id="summary-main-right-container">
    <div id="tasks-todo">
      <div id="tasks-todo-topcontainer">
        <img src="./assets/img/summary-todo.svg" alt="Todo image" />
        <p class="todo-length"></p>
      </div>
      <div id="tasks-todo-description">
        <p>Tasks To-do</p>
      </div>
    </div>
  </div>
</div>

<div id="summary-footer-container">
  <div id="summary-task-in-board" class="tasks redirect">
    <div id="task-in-board" class="tasks-top-container">
      <img
        src="./assets/img/summary-board.svg"
        alt="Board image"
        class="task-img"
      />
      <p class="tasks-board-length"></p>
    </div>
    <div id="task-in-board-description" class="tasks-bottom-container">
      <p>Task in Board</p>
    </div>
  </div>

  <div id="summary-task-in-progress" class="tasks redirect">
    <div id="task-in-progress" class="tasks-top-container">
      <img
        src="./assets/img/summary-progress.svg"
        alt="Progress image"
        class="task-img"
      />
      <p class="in-progress-length"></p>
    </div>
    <div id="task-in-progress-description" class="tasks-bottom-container">
      <p>Task in Progress</p>
    </div>
  </div>

  <div id="summary-awaiting-feedback" class="tasks redirect">
    <div id="task-awaiting-feedback" class="tasks-top-container">
      <img
        src="./assets/img/summary-feedback.svg"
        alt="Feedback image"
        class="task-img"
      />
      <p class="feedback-length"></p>
    </div>
    <div id="task-awaiting-feedback-description" class="tasks-bottom-container">
      <p>Awaiting Feedback</p>
    </div>
  </div>

  <div id="summary-task-done" class="tasks redirect">
    <div id="task-done" class="tasks-top-container">
      <img
        src="./assets/img/summary-done.svg"
        alt="Done image"
        class="task-img"
      />
      <p class="tasks-done-length"></p>
    </div>
    <div id="task-done-description" class="tasks-bottom-container">
      <p>Tasks Done</p>
    </div>
  </div>
</div>
