<div id="side-bar-menu">
  <div id="side-bar-menu-summary" class="side-bar-menu" onclick="showSummary()">
    <img src="./assets/img/menu-summary.svg" alt="Summary image" />
    <p>Summary</p>
  </div>

  <div
    id="side-bar-menu-addtasks"
    class="side-bar-menu"
    onclick="showAddTask()"
  >
    <img src="./assets/img/menu-task.svg" alt="Task image" />
    <p>Add Task</p>
  </div>

  <div id="side-bar-menu-board" class="side-bar-menu" onclick="showBoard()">
    <img src="./assets/img/menu-board.svg" alt="Board image" />
    <p>Board</p>
  </div>

  <div
    id="side-bar-menu-contacts"
    class="side-bar-menu"
    onclick="showContacts()"
  >
    <img src="./assets/img/menu-contacts.svg" alt="Contacts image" />
    <p>Contacts</p>
  </div>
</div>

<div id="side-bar-footer">
  <a id="side-bar-footer-privacy-policy" onclick="showPrivacyPolicy(); return false;">Privacy Policy</a>
  <a id="side-bar-footer-legal-notice" onclick="showLegalNotice(); return false;">Legal notice</a>
</div>
