<div id="legal-notice-index-header-container">
  <div id="legal-notice-index-header">
    <div id="header-image-container">
      <img src="./assets/img/join-header-small-white.svg" alt="Join image" />
    </div>
    <div id="header-info-container">
      <p>Kanban Project Management Tool</p>
    </div>
  </div>
</div>

<div id="legal-notice-index-main-container">
  <div id="legal-notice-index-side-bar">
    <div id="legal-notice-index-side-bar-footer">
      <a
        id="privacy-policy-side-bar-footer"
        onclick="showPrivacyPolicy(); return false;"
        >Privacy Policy</a
      >
      <a
        id="legal-notice-side-bar-footer"
        onclick="showLegalNotice(); return false;"
        >Legal notice</a
      >
    </div>
  </div>

  <div id="legal-notice-index-main">
    <div id="help-header">
      <h2>Legal Notice</h2>
      <img
        class="index-help-header-img"
        onclick="goToIndex('legal-notice'); return false;"
        src="./assets/img/arrow-left.svg"
        alt="ArrowLeft image"
      />
    </div>

    <div id="legal-notice">
      <div id="legal-notice-declarations">
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <br />
        <p>
          Admir Bajric<br />
          Glonnerstra&szlig;e 5<br />
          Geb&auml;ude 1<br />
          83620 Feldkirchen Westerham
        </p>
      </div>

      <div id="legal-notice-contact">
        <h2>Kontakt</h2>
        <br />
        <p>
          Telefon: &#91;Telefonnummer&#93;<br />
          E-Mail: admir.bajric.dev@gmail.com
        </p>
      </div>

      <p id="source">
        Quelle:
        <a target="_blank" href="https://www.e-recht24.de">e-recht24.de</a>
      </p>
    </div>
  </div>
</div>
