<div id="help-header">
  <h2>Legal Notice</h2>
  <img
    class="help-header-img"
    onclick="backToSummary('summary-container'); return false;"
    src="./assets/img/arrow-left.svg"
    alt="ArrowLeft image"
  />
</div>

<div id="legal-notice">
  <div id="legal-notice-declarations">
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <br />
    <p>
      Admir Bajric<br />
      Glonnerstra&szlig;e 5<br />
      Geb&auml;ude 1<br />
      83620 Feldkirchen Westerham
    </p>
  </div>

  <div id="legal-notice-contact">
    <h2>Kontakt</h2>
    <br />
    <p>
      Telefon: &#91;Telefonnummer&#93;<br />
      E-Mail: admir.bajric.dev@gmail.com
    </p>
  </div>

  <p id="source">
    Quelle: <a target="_blank" href="https://www.e-recht24.de">e-recht24.de</a>
  </p>
</div>
