#add-task-container {
  width: 100%;
  height: 100%;

  display: none;
  position: relative;
}

.add-task-left-container {
  width: 29%;
  padding: 6.4rem 2.4rem 6.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.add-task-title-container {
  width: 100%;
}

.add-task-title-err-msg,
.add-task-description-err-msg,
.add-task-date-err-msg,
.add-task-category-err-msg {
  color: var(--error) !important;
  font-size: 1.2rem !important;
  padding: 0.5rem 0rem 0.5rem 0rem !important;
  margin: 0 !important;
  font-weight: var(--fontw2) !important;

  opacity: 0;
}

.add-task-title {
  width: 100%;
  height: 6.4rem;
  border-bottom: 0.1rem solid var(--inputStyle);
  background: var(--white);
  padding: 1.3rem 1.6rem;
}

.add-task-title input::placeholder {
  color: var(--inputStyle);
}

.add-task-title input {
  width: 100%;
  height: 4rem;
  font-family: Open Sans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.add-task-description {
  width: 100%;
}

.add-task-description p,
.add-task-date p,
.add-task-priority p,
.add-task-assigned p,
.add-task-category p,
.add-task-subtasks p {
  font-family: Open Sans;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: var(--fontw4);
  line-height: 120%;
  margin-bottom: 0.8rem;
  margin-top: 1.2rem;
}

.add-task-textarea-description {
  width: 100%;
  min-height: 10rem;
  max-height: 20rem;
  resize: vertical;
  outline: none;
  padding: 1rem;
  border-radius: 0rem 1rem 1rem 1rem;
  border: 1px solid var(--inputStyle);
  background: var(--white);

  font-family: Open Sans;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.add-task-textarea-description::placeholder {
  color: var(--inputStyle);
}

.add-task-date {
  width: 100%;
  height: 9.9rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  width: 100%;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  border-bottom: 0.1rem solid var(--inputStyle);
  background: var(--white);
}

.date input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: Open Sans;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
  color: var(--inputStyle);
}

.date-input-active {
  color: var(--black) !important;
}

.date img {
  position: absolute;
  right: 1.5rem;
}

.add-task-priority {
  width: 100%;
  height: 8.2rem;
}

.priority {
  display: flex;
  justify-content: space-between;
}

#priority-urgent,
#priority-medium,
#priority-low {
  width: 13.6rem;
  height: 5.1rem;
  padding: 1.8rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 0, 0, 0.16);
  border-bottom: 0.2rem solid var(--white);
  cursor: pointer;
}

#priority-urgent:hover {
  border-bottom: 0.2rem solid var(--priority-urgent);
}

#priority-medium:hover {
  border-bottom: 0.2rem solid var(--priority-medium);
}

#priority-low:hover {
  border-bottom: 0.2rem solid var(--priority-low);
}

/* Ovdje promjeniti jer isto je */
.priority-urgent {
  background-color: var(--priority-urgent) !important;
  color: var(--white) !important;
  border-bottom: 0.2rem solid var(--priority-urgent) !important;
}

.priority-medium {
  background-color: var(--priority-medium) !important;
  color: var(--white) !important;
  border-bottom: 0.2rem solid var(--priority-medium) !important;
}

.priority-low {
  background-color: var(--priority-low) !important;
  color: var(--white) !important;
  border-bottom: 0.2rem solid var(--priority-low) !important;
}
/* Do ovdje */

.add-task-assigned {
  width: 100%;
}

.add-task-category,
.add-task-subtasks {
  width: 100%;
}

.add-task-all-contacts {
  width: 100%;
}

.add-task-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.6rem;
}

.add-task-contact-container {
  width: 19rem;
  display: flex;
  align-items: center;
}

.add-task-contact-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.initials-first-name,
.initials-last-name {
  color: var(--white) !important;
  text-align: center !important;
  font-family: Inter !important;
  font-size: 1.2rem !important;
  font-style: normal !important;
  font-weight: var(--fontw2) !important;
  line-height: 120% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.add-task-full-name {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
  margin-left: 2rem;
}

.add-task-priority,
.add-task-assigned,
.add-task-category,
.add-task-subtasks {
  margin: 2.4rem 0rem 2.4rem 0rem;
}

.add-task-assigned-contacts,
.add-task-select-category,
.add-task-select-subtasks {
  width: 100%;
  height: 4.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 0.1rem solid var(--inputStyle);
  background: var(--white);
}

.add-task-assigned-contacts input {
  font-family: Open Sans;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
  padding: 1.2rem 1.6rem;
}

.add-task-assigned-contacts-input {
  width: 100%;
  display: none;
}

.add-task-assigned-contacts:hover,
.add-task-select-category:hover,
.add-task-select-subtasks:hover {
  border-bottom: 0.1rem solid var(--btnHoverColor);
}

.add-task-assigned-contacts p,
.add-task-select-category p,
.add-task-select-subtasks input {
  color: var(--black);
  font-family: Open Sans;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.add-task-select-subtasks input {
  padding: 1rem;
}

.add-task-select-subtasks input::placeholder {
  color: var(--inputStyle);
}

.add-task-assigned-contacts img,
.add-task-select-category img,
.add-task-select-subtasks img {
  width: 2.4rem;
  height: 2.4rem;
}

.add-task-assigned-contacts img,
.add-task-select-category img {
  cursor: pointer;
}

.add-task-select-subtasks-btn {
  width: 5.6rem;
  height: 2.4rem;

  display: none;
  justify-content: space-between;
  cursor: pointer;
}

.add-task-select-subtasks-img {
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
}

.subtask-divider {
  width: 0.17rem;
  height: 100%;
  background-color: var(--divider);
}

.add-task-right-container {
  width: 71%;
  height: 100%;
  position: relative;
}

.add-task-buttons {
  width: 33.5rem;
  height: 6.1rem;
  position: absolute;
  right: 4.2rem;
  bottom: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.add-task-clear-btn,
.add-task-create-task {
  width: 13.6rem;
  height: 6.1rem;
  padding: 1.6rem 1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--guestLoginBtn);
  background: var(--white);

  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.add-task-clear-btn:hover {
  border: 0.2rem solid var(--mainColor);
  color: var(--mainColor);
  transform: scale(1.01);
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.2);
}

.add-task-clear-btn p,
.add-task-create-task p {
  color: var(--guestLoginBtn);
  font-family: Open Sans;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.add-task-create-task p {
  color: var(--white);
}

.add-task-create-task {
  width: 17.4rem;
  background: var(--mainColor);
}

.add-task-create-task:hover {
  cursor: pointer;
  background: var(--btnHoverColor);
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.2);
}

.date input[type="date"]::-webkit-calendar-picker-indicator,
.date input[type="date"]::-webkit-inner-spin-button,
.date input[type="date"]::-webkit-clear-button {
  cursor: pointer;
  opacity: 0;
}

.add-task-left-container::-webkit-scrollbar {
  width: 0.5rem;
}

.add-task-left-container::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
}

.add-task-left-container::-webkit-scrollbar-track {
  background-color: #eee;
}

.date-img {
  cursor: pointer;
}

.add-task-selected-contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.add-task-img {
  cursor: pointer;
  z-index: 5;
}

.add-task-contacts-btn {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--mainColor);
  background: var(--mainColor);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.add-task-contacts-btn:hover {
  background-color: var(--btnHoverColor);
}

.add-task-contacts-btn p {
  color: var(--white);
  font-family: Open Sans;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
  margin-right: 1rem;
}

.add-task-selected-contacts p {
  margin: 0;
  color: var(--white);
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.selected-contact {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--white);
}

.add-task-category-list {
  width: 100%;
}

.add-task-category-label {
  width: 100%;
  height: 4.7rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-task-category-label:first-child {
  margin-top: 0.1rem;
}

.add-task-category-label:hover {
  background-color: var(--menuBackGround);
}

.add-task-category-label p {
  font-size: 1.9rem !important;
  font-style: normal !important;
  font-weight: var(--fontw2) !important;
  line-height: 120% !important;
}

.add-task-subtasks-container {
  width: 100%;
  margin-top: 1rem;
}

.add-task-subtasks-container ul {
  padding: 0.6rem 0.1rem 0.6rem 1.6rem;
}

.add-task-subtasks-container ul li,
.add-task-subtask-input {
  margin-left: 2rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.add-task-subtask-input {
  width: 70%;
  margin-left: 2.2rem;
  font-size: 1.7rem;
  display: none;
}

.add-task-unordered-list,
.add-task-subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtask-hover {
  background-color: var(--menuBackGround);
}

.add-task-unordered-list:hover {
  cursor: pointer;
}

.add-task-subtask {
  opacity: 0;
  width: 5.6rem;
  height: 2.4rem;
}

.add-task-subtask img {
  cursor: pointer;
}

.task-added-to-board {
  width: 32.6rem;
  height: 7.4rem;
  position: fixed;
  left: calc(50% - 16.3rem);
  top: 105%;

  border-radius: 2rem;
  background: var(--mainColor);
  box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.task-added-to-board p {
  color: var(--white);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--white);
  line-height: 120%;
  margin-right: 2rem;
}
