#forgot-password-section-container,
#reset-password-section-container {
  width: 100%;
  height: 100%;
  background-color: var(--mainColor);
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

#small-logo-white {
  position: absolute;
  width: 10rem;
  height: 12.2rem;
  top: 8rem;
  left: 7.7rem;
}

#forgot-password-container {
  width: 76.5rem;
  height: 41.8rem;
  padding: 4.8rem 8.8rem;
  border-radius: 3rem;
  background: var(--white);
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.08);
}

#forgot-password {
  width: 58.9rem;
  height: 32.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

#forgot-password-header {
  width: 50.6rem;
  height: 7.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#forgot-password-header h2 {
  font-size: 4.8rem;
  font-weight: var(--fontw4);
  font-style: normal;
  line-height: 120%;
}

#fogot-password-divider,
#reset-password-divider,
#sign-up-divider {
  width: 15rem;
  height: 0.3rem;
  background: var(--mainColor);
}

#forgot-password-topic {
  width: 58.9rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
}

#forgot-password-topic p {
  text-align: center;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

#forgot-password-email {
  width: 42.2rem;
  height: 4.8rem;
  border-bottom: 2px solid var(--inputStyle);
}

#forgot-password-email-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 21px;
}

#forgot-password-form-email {
  border: unset;
  width: 95%;
  font-size: 1.9rem;
  font-weight: var(--fontW2);
  font-style: normal;
  line-height: 120%;
  background-color: var(--white);
}

#forgot-password-form-email::placeholder {
  color: var(--inputStyle);
}

#forgot-password-form-email:focus {
  outline: none;
}

#forgot-password-btn {
  width: 27rem;
  height: 4.8rem;
  border: unset;
  border-radius: 0.8rem;
  background: var(--mainColor);

  color: var(--white);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

#forgot-password-btn:hover,
#reset-password-btn:hover {
  cursor: pointer;
  background: var(--btnHoverColor);
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.2);
}

#forgot-password-btn:active,
#reset-password-btn:active {
  color: var(--mainColor);
  background: var(--white);
}

#forgot-password-back-btn,
#reset-password-back-btn,
#sign-up-back-btn {
  position: absolute;
  left: -3rem;
  top: 1.3rem;
  cursor: pointer;
}

#reset-password-container {
  width: 71.6rem;
  height: 47rem;
  padding: 4.8rem 8.8rem;

  border-radius: 3rem;
  background: var(--white);
  box-shadow: 0rem 0rem 1rem 0.3rem rgba(0, 0, 0, 0.08);

  position: relative;
}

#reset-password {
  width: 54rem;
  height: 37.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#reset-password-header {
  width: 49.9rem;
  height: 7.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#reset-password-header h2 {
  font-size: 4.7rem;
  font-style: normal;
  font-weight: var(--fontw4);
  line-height: 120%;
}

#reset-password-topic {
  width: 54rem;
  height: 2.8rem;
  text-align: center;

  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontW2);
  line-height: 120%;
}

#reset-password-email {
  width: 42.2rem;
  height: 12.8rem;
}

.reset-password-email-container {
  width: 42.2rem;
  height: 4.8rem;
  padding: 1.2rem 1.2rem;
  border-bottom: 0.2rem solid var(--inputStyle);
}

.reset-password-email-container:last-child {
  margin-top: 0.8rem;
}

#reset-password-form-email,
#reset-password-confirm-form-email {
  width: 100%;
  height: 100%;

  border: unset;
  font-size: 1.9rem;
  font-weight: var(--fontW2);
  font-style: normal;
  line-height: 120%;
  background-color: var(--white);
}

#reset-password-form-email::placeholder,
#reset-password-confirm-form-email::placeholder {
  color: var(--inputStyle);
}

#reset-password-form-email:focus,
#reset-password-confirm-form-email:focus {
  outline: none;
}

#reset-password-btn {
  width: 16.8rem;
  height: 4.8rem;
  padding: 1rem 3.5rem;
  border-radius: 0.8rem;
  background: var(--mainColor);
  color: var(--white);
  border: unset;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontW2);
  line-height: 120%;
}

#forgot-password-modal,
#reset-your-password-modal {
  width: 43.1rem;
  height: 7.4rem;
  position: absolute;
  top: -10rem;
  left: calc(50% - 21.55rem);

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 2rem;
  background: var(--mainColor);
  box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 0, 0, 0.15);

  transition: all 0.5s ease-in-out;
  z-index: 2;
}

#forgot-password-modal-paragraph,
#reset-your-password-modal {
  color: var(--white);
  font-family: Open Sans;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: var(--fontw2);
}
