.header {
  width: 100%;
  height: 9.6rem;
  padding: 2rem 3.9rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--mainColor);
}

#header-image-container {
  width: 4.6rem;
  height: 5.6rem;
}

#header-image-container img {
  width: 4.6rem;
  height: 5.6rem;
}

#header-info-container {
  width: 43.3rem;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-info-container p {
  color: var(--white);
  font-size: 1.9rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

#header-info-img {
  width: 3.2rem;
  height: 3.2rem;
}

#header-info-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#header-user-profile-container {
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--white);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#header-user-profile-initials {
  width: 4.6rem;
  height: 4.6rem;
  border: 0.2rem solid var(--mainColor);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-user-profile-initials:hover {
  background: linear-gradient(
      0deg,
      var(--menuInitials) 0%,
      var(--menuInitials) 100%
    ),
    var(--white);
}

#header-user-profile-initials span {
  color: var(--btnHoverColor);
  font-size: 1.8rem;
  font-weight: var(--fontw3);
}

#header-menu {
  width: 17.2rem;
  padding: 1rem;
  border-radius: 2rem 0rem 2rem 2rem;
  background: var(--white);
  box-shadow: 0rem 0.4rem 0.8rem 0rem rgba(0, 0, 0, 0.2);

  position: absolute;
  right: 6.5rem;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  display: none;
  z-index: 2;
}

.header-menu-links {
  width: 15.2rem;
  height: 3.9rem;
  padding: 0.8rem 1.6rem;

  display: flex;
  justify-content: end;
  cursor: pointer;
}

.header-menu-links a {
  color: var(--footerLinks);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: var(--fontw2);
  line-height: 120%;
}

.header-menu-links:hover {
  border-radius: 1rem;
  background-color: var(--menuBackGround);
}

#header-menu-links-help {
  display: none;
}
